@{
    ViewData["Title"] = "Index";
    var nombre = "Juan";
}

<h1>@ViewBag.Titulo</h1>
<h2>@ViewBag.Descripcion</h2>
<h3>Listado de monedas por @ViewBag.Precio</h3>

<p>Fecha y hora de creacion de la pagina @ViewBag.Fecha</p>
<p>El nombre del propietario es @nombre</p>

